streamlit
langchain
langchain-community
langchain-groq
langchain-pinecone
langchain-cohere
langchain-huggingface
pypdf
pinecone
python-dotenv
ragas
datasets
pandas
sentence-transformers
sentencepiece
